<header class="header">
    <a href="/" class="header_logo">NodeJS</a>

    <nav class="header_nav">
        <ul>
            <li><a href="/" class="">Home</a></li>
            <li><a href="/blogs" class="">Blogs</a></li>
            <li><a href="/about" class="">About Me</a></li>
            <li><a href="mailto:gokbeerkgok@gmail.com?subject=Dear Gokberk,">Contact</a></li>
        </ul>
    </nav>
    <div class="header_button">
        <button class="searchBtn" aria-expanded="false">
            <i class="fas fa-search"></i> Search
            dskamdklasndklasjdklh
        </button>
       
    </div>
</header>